@font-face{
	src: font-url('assets/GothaProBla.otf');
	font-family: 'Gotham Pro';
	font-weight: 600;
}
@font-face{
	src: font-url('assets/GothaProBlaIta.otf');
	font-family: 'Gotham Pro';
	font-weight: 600;
	font-style: italic;
}
@font-face{
	src: font-url('assets/GothaProBol.otf');
	font-family: 'Gotham Pro';
	font-weight: 500;
}
@font-face{
	src: font-url('assets/GothaProBolIta.otf');
	font-family: 'Gotham Pro';
	font-weight: 500;
	font-style: italic;
}
@font-face{
	src: font-url('assets/GothaProLig.otf');
	font-family: 'Gotham Pro';
	font-weight: 100;
}
@font-face{
	src: font-url('assets/GothaProLigIta.otf');
	font-family: 'Gotham Pro';
	font-weight: 100;
	font-style: italic;
}
@font-face{
	src: font-url('assets/GothaProMed.otf');
	font-family: 'Gotham Pro';
	font-weight: 300;
}
@font-face{
	src: font-url('assets/GothaProMedIta.otf');
	font-family: 'Gotham Pro';
	font-weight: 300;
	font-style: italic;
}
@font-face{
	src: font-url('assets/GothaProReg.otf');
	font-family: 'Gotham Pro';
	font-weight: 200;
}
@font-face{
	src: font-url('assets/GothaProIta.otf');
	font-family: 'Gotham Pro';
	font-weight: 200;
	font-style: italic;
}
@font-face{
	src: font-url('assets/GothaProNarBol.otf');
	font-family: 'Gotham Pro Nar';
	font-weight: 400;
}
@font-face{
	src: font-url('assets/GothaProNarMed.otf');
	font-family: 'Gotham Pro Nar';
	font-weight: 300;
	font-style: italic;
}