@font-face{
	src: url('/assets/fonts/GothaProBla.otf');
	font-family: 'Gotham Pro';
	font-weight: 600;
}
@font-face{
	src: url('/assets/fonts/GothaProBlaIta.otf');
	font-family: 'Gotham Pro';
	font-weight: 600;
	font-style: italic;
}
@font-face{
	src: url('/assets/fonts/GothaProBol.otf');
	font-family: 'Gotham Pro';
	font-weight: 500;
}
@font-face{
	src: url('/assets/fonts/GothaProBolIta.otf');
	font-family: 'Gotham Pro';
	font-weight: 500;
	font-style: italic;
}
@font-face{
	src: url('/assets/fonts/GothaProLig.otf');
	font-family: 'Gotham Pro';
	font-weight: 100;
}
@font-face{
	src: url('/assets/fonts/GothaProLigIta.otf');
	font-family: 'Gotham Pro';
	font-weight: 100;
	font-style: italic;
}
@font-face{
	src: url('/assets/fonts/GothaProMed.otf');
	font-family: 'Gotham Pro';
	font-weight: 300;
}
@font-face{
	src: url('/assets/fonts/GothaProMedIta.otf');
	font-family: 'Gotham Pro';
	font-weight: 300;
	font-style: italic;
}
@font-face{
	src: url('/assets/fonts/GothaProReg.otf');
	font-family: 'Gotham Pro';
	font-weight: 200;
}
@font-face{
	src: url('/assets/fonts/GothaProIta.otf');
	font-family: 'Gotham Pro';
	font-weight: 200;
	font-style: italic;
}
@font-face{
	src: url('/assets/fonts/GothaProNarBol.otf');
	font-family: 'Gotham Pro Nar';
	font-weight: 400;
}
@font-face{
	src: url('/assets/fonts/GothaProNarMed.otf');
	font-family: 'Gotham Pro Nar';
	font-weight: 300;
	font-style: italic;
}