//Variables
$transition: 0.2s;
$box-shadow: 0 1px 1px rgba(0,0,0,0.05);
$theme-black: #545454;
$theme-blue: #2196F3;
$theme-blue_hover: #1b7ac5;
$theme-green: #4CAF50;
$theme-green_hover: #3e9041;
$theme-red: #f35b50;
$theme-red_hover: #d04d44;
//Normalise
*{
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
html{
  height: 100%;
}
body{
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: 'Gotham Pro';
  height: 100%;
}
h1,h2,h3,h4,h5,h6,p{
  margin: 0;
}
a{
  text-decoration: none;
  color: inherit;
}

//Layout
.page{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.content{
  flex: 1;
}
.container{
  max-width: 1170px;
  margin: auto;
  position: relative;
}
.flex{
  display: flex;
}
.notice{
  background: $theme-green;
  display: block;
  padding: 15px;
  border-radius: 2px;
  margin: 10px 0;
  font-weight: 300;
  color: #FFF;
  font-size: 15px;
  text-align: center;
  &.error{
    background: $theme-red;
  }
}
.grid{
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  grid-gap: 30px;
}
.title-control{
  line-height: 60px;
  &__link{
    font-weight: 300;
    font-size: 14px;
    color: $theme-blue;
  }
}
.subtitle{
  flex: 1;
  line-height: 100px;
  font-size: 1.3em;
  font-weight: 300;
  text-align: left;
  color: $theme-black;
}

//Mixins
@mixin formField{
  padding: 15px;
  font-family: inherit;
  font-weight: 200;
  font-size: 15px;
  border-radius: 2px;
  border: 1px solid rgba(0,0,0,0.08);
  margin-bottom: 10px;
  box-shadow: $box-shadow;
  outline: none;
  transition: border-color $transition;
  will-change: border-color;
  &:focus{
    border-color: $theme-blue;
  }
}
@mixin button($button-color, $button-color-hover){
  display: inline-block;
  background: $button-color;
  padding: 15px 30px;
  border-radius: 100px;
  outline: none;
  user-select: none;
  border: none;
  color: #FFF;
  font-weight: 300;
  font-family: inherit;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  box-shadow: $box-shadow;
  transition: background $transition;
  will-change: background;
  &:hover{
    background: $button-color-hover;
  }
}
@mixin adminTable{
  padding: 5px 0;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  background: rgba(0,0,0,0.03);
}
@mixin adminTableRow{
  display: flex;
  line-height: 40px;
  font-size: 14px;
  padding: 0 20px;
  font-weight: 300;
  color: $theme-black;
  transition: background $transition;
  &:hover{
    background: rgba(0,0,0,0.02);
  }
}
@mixin adminTableRowLast{
  border-bottom: 1px solid rgba(0,0,0,0.04);
  box-shadow: 0 1px 0 rgba(255,255,255,0.5);
}

//Custom Styles
.header{
  background: #FFF;
  -webkit-box-shadow: $box-shadow;
  -moz-box-shadow: $box-shadow;
  box-shadow: $box-shadow;
  &__mobile--control{
    display: none;
    cursor: pointer;
    line-height: 60px;
    padding-left: 30px;
    font-size: 25px;
    color: grey;
  }
}
.logo{
  line-height: 60px;
  font-size: 1.5em;
  font-weight: 200;
  color: $theme-black;
  b{
    text-transform: uppercase;
    font-weight: inherit;
    color: $theme-blue;
  }
}
.header__navigation{
  flex: 1;
  text-align: right;
}
.header__mobile--navigation{
  display: none;
  padding: 20px 0;
  background: rgba(0,0,0,0.03);
  .navigation__link{
    display: block;
  }
  form{
    display: block;
    padding: 0;
    input{
      width: 100%;
    }
  }
}
.navigation__link{
  line-height: 60px;
  font-weight: 300;
  color: $theme-black;
  padding: 0 7px;
  font-size: 14px;
  transition: color $transition;
  &:hover{
    color: $theme-blue;
  }
}

.section--header{
  padding: 20px 0;
  background: $theme-blue;
  text-align: center;
  &__title{
    font-size: 1.7em;
    line-height: 2em;
    color: #FFF;
    text-shadow: 0 1px 3px rgba(0,0,0,0.3);
  }
  &__button{
    @include button(#FFF, rgba(255,255,255,0.9));
    color: $theme-blue;
    margin-top: 10px;
  }
}
.cover--img{
  width: 100%;
  display: block;
}
.book {
  display: grid;
  padding-top: 20px;
  grid-template-columns: 35% 65%;
  &__empty{
    font-size: 15px;
    font-weight: 300;
    color: grey;
  }
  &__cover{
    padding-right: 10px;
  }
  &-form {
    &__field {
      display: block;
      @include formField;
      width: 100%;
    }
    &__description {
      display: block;
      @include formField;
      width: 100%;
      max-width: 100%;
      line-height: 1.5em;
      min-width: 100%;
      min-height: 100px;
      max-height: 200px;
    }
    &__inline {
      display: grid;
      grid-template-columns: repeat(2, minmax(100px, 1fr));
      grid-gap: 10px;
    }
    &__button {
      @include button($theme-blue, $theme-blue_hover);
    }
    &__file {
      display: block;
      position: relative;
      background: $theme-blue;
      text-align: center;
      line-height: 100px;
      border-radius: 2px;
      margin-bottom: 10px;
      color: #FFF;
      min-height: 100px;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      &--title.img{
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(56, 162, 243, 0.7);
        transition: opacity $transition;
        &.notEmpty{
          opacity: 0;
          will-change: opacity;
          &:hover{
            opacity: 1;
          }
        }
      }
      &.img{
        background: grey;
      }
    }
  }
}
.book-post{
  padding-bottom: 15px;
  &s{
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-gap: 20px;
  }
  &__controls{
    padding: 10px 0;
    font-size: 20px;
    margin-bottom: 10px;
  }
  &__control{
    padding: 10px 27px;
    color: #FFF;
    text-shadow: 0 1px 2px rgba(0,0,0,0.2);
    transition: background $transition;
    will-change: background;
    &.delete{
      background: $theme-red;
      border-radius: 0 50px 50px 0;
      &:hover{
        background: $theme-red_hover;
      }
    }
    &.edit{
      background: $theme-green;
      border-radius: 50px 0 0 50px;
      &:hover{
        background: $theme-green_hover;
      }
    }
  }
  &__img{
    width: 100%;
    border-radius: 2px;
    display: block;
    &--wrapper{
      flex: 0 0 120px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
    }
  }
  &__info{
    padding-left: 20px;
    display: flex;
    width: 100%;
    flex-direction: column;
    &--inner{
      flex: 1;
    }
  }
  &__title{
    padding: 10px 0;
    font-size: 1.4em;
    font-weight: 300;
    line-height: 1.2;
    color: $theme-black;
  }
  &__genre, &__author {
    display: block;
    font-size: 13px;
    font-weight: 200;
    color: grey;
    line-height: 1.5;
    b{
      font-weight: inherit;
      color: $theme-blue;
    }
  }
  &__description{
    font-size: 14px;
    line-height: 1.4;
    font-weight: 200;
    padding-top: 5px;
    color: $theme-black;
  }
  &__button{
    @include button($theme-blue, $theme-blue_hover);
    margin-top: 0px;
    &--green{
      @include button($theme-green, $theme-green_hover);
    }
    &--red{
      @include button($theme-red, $theme-red_hover);
    }
  }
}
.book-view{
  padding-top: 30px;
  &-cover{
    flex: 0 0 300px;
    img{
      width: 100%;
      box-shadow: 0 2px 9px rgba(0, 0, 0, 0.2);
      border-radius: 2px;
    }
  }
  &-info{
    padding-left: 30px;
    flex: 1;
  }
  &__title{
    font-size: 2em;
    line-height: 1.8em;
  }
  &__description{
    font-size: 17px;
    line-height: 1.5;
  }
  &__buttons {
    display: inline-grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 10px;
    margin-top: 20px;
  }
  &__author, &__genre, &__tags{
    b{
      font-weight: inherit;
      color: $theme-blue;
    }
    display: block;
    line-height: 1.6;
    font-size: 15px;
    font-weight: 200;
    color: rgba(0, 0, 0, 0.6);
  }
  &__comments{
    margin-top: 20px;
    &--title{
      line-height: 3em;
      font-size: 1.3em;
      font-weight: 200;
      color: $theme-black;
    }
  }
  &__comment{
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    &--author{
      line-height: 30px;
      font-weight: 300;
      color: $theme-black;
    }
    &--text{
      font-weight: 200;
      font-size: 14px;
      color: rgba(0,0,0,0.7);
    }
  }
  &__comment:not(:last-child){
    border-bottom: 1px solid rgba(0,0,0,0.08);
  }
}
.comment-form{
  display: flex;
  &__button{
    margin-bottom: 10px;
    margin-left: 10px;
    @include button($theme-blue, $theme-blue-hover);
  }
  &__delete{
    margin-top: 10px;
    font-size: 13px;
    font-weight: 300;
    color: $theme-green;
    display: inline-block;
  }
  &__non-auth{
    background: #f1f1f1;
    padding: 15px;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    color: rgba(0,0,0,0.4);
    border-radius: 2px;
  }
}
.authorisation{
  text-align: center;
  &__title{
    font-weight: 200;
    line-height: 4;
    font-size: 1.5em;
    color: $theme-black;
  }
  &-form{
    &__field{
      @include formField;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    &__link{
      font-weight: 300;
      font-size: 14px;
      display: inline-block;
      margin-top: 20px;
      color: $theme-blue;
    }
  }
}
.search-form{
  display: inline-block;
  padding: 0 15px;
  &__field{
    @include formField;
    padding: 9px;
    font-size: 14px;
  }
}
.categories{
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  grid-auto-flow: column;
  grid-gap: 50px;
}
.category{
  display: block;
  margin-bottom: 0.8em;
  line-height: 1.3em;
  font-weight: 200;
  color: $theme-blue;
}
.admin{
  &__users{
    @include adminTable;
  }
  &__user{
    @include adminTableRow;
    &--email{
      flex: 0 0 25%;
    }
    &--status{
      flex: 1;
    }
    &--header{
      padding: 0 20px;
      display: flex;
      font-weight: 300;
      line-height: 40px;
      border-bottom: 1px solid rgba(0,0,0,0.05);
      box-shadow: 0 1px 0 #FFF;
      color: $theme-blue;
      &__email{
        flex: 0 0 25%;
      }
    }
    &--control{
      background: rgba(0,0,0,0.1);
      padding: 8px 20px;
      border-radius: 25px;
      &.active{
        background: $theme-blue;
        color: #FFF;
      }
    }
  }
  &__user:not(:last-child){
    @include adminTableRowLast;
  }
  &__stats{
    @include adminTable;
  }
  &__stat{
    @include adminTableRow;
    &--type{
      flex: 0 0 25%;
    }
    &--value{
      flex: 1;
    }
  }
  &__stat:not(:last-child){
    @include adminTableRowLast;
  }
}
.footer{
  background: #f1f1f1;
  padding: 20px 0;
  text-align: center;
  &__copyright{
    font-weight: 300;
    font-size: 13px;
    color: grey;
  }
}
.read-pdf{
  &__title{
    padding-top: 40px;
    font-size: 2.5em;
    font-weight: 300;
    padding-bottom: 10px;
    color: $theme-black;
  }
  &__author{
    font-size: 1.2em;
    padding-bottom: 30px;
    display: block;
    color: rgba(0,0,0,0.5);
  }
  &__text{
    white-space: normal;
    word-break: break-all;
    font-family: inherit;
    font-weight: 200;
    line-height: 1.4em;
    color: $theme-black;
    margin: 0;
  }
}