@media only screen and (max-width: 1170px){
  .container{
    padding: 0 20px;
  }
}
@media only screen and (max-width: 1000px){
  .header{
    &__mobile--control{
      display: block;
      position: relative;
      padding: 15px 0;
      width: 25px;
      span{
        height: 1px;
        background: grey;
        display: block;
        width: 100%;
        box-shadow: 0 1px 1px rgba(0,0,0,0.1);
        position: absolute;
        right: 0;
        &:nth-child(1){
          top: 20px;
        }
        &:nth-child(2){
          top: 27px;
        }
        &:nth-child(3){
          bottom: 24px;
        }
      }
    }
    &__navigation{
      display: none;
    }
  }
  .logo--wrapper{
    flex: 1;
  }
  .section--header__title{
    display: none;
  }
  .section--header__button{
    margin-top: 0;
  }
  .book-posts, .categories{
    grid-template-columns: repeat(2, minmax(100px, 1fr));
  }
  .book-post__button, .book-post__button--green{
    margin-top: 15px;
  }
}

@media only screen and (max-width: 800px) {
  .book-post{
    flex-direction: column;
  }
  .book-post__img--wrapper{
    flex: 1;
  }
  .book-view{
    flex-direction: column;
    &-info{
      padding-left: 0;
    }
  }
}
@media only screen and (max-width: 500px){
  .book-posts, .categories{
    grid-template-columns: repeat(1, minmax(100px, 1fr));
  }
  .book-post{
    flex-direction: row;
  }
  .book-post:not(:last-child){
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }
  .book-post__img--wrapper{
    flex: 0 0 120px;
  }
}